.automatic-charging-container {
    float: left;
    width: calc(100% - 50px);
    height: calc(100% - 40px);
    padding: 0px 20px 20px 20px;
    background-color: white;
    border: 1px solid #E5E5E5;
    margin: 20px 25px;
    font-size: 12px;
}

.automatic-charging-title {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.automatic-charging-title h3 {
    float: left;
    line-height: 30px;
}

.automatic-charging-title .automatic-charging-options {
    float: right;
}

.automatic-charging-search {
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid gray;
    background-image: url(../../assets/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: left;
    background-position-x: 7px;
    text-align: left;
    padding-left: 30px;
}

.automatic-charging-table-container {
    float: left;
    width: 100%;
    /* border: 1px solid #E5E5E5; */
}

.automatic-charging-table {
    float: left;
    margin-top: 10px;
    background-color: white;
    width: 100%;
    border: 1px solid #E5E5E5;
    border-collapse: collapse;
    text-align: center;
    border-collapse: collapse;
}

.automatic-charging-table thead{
    background-color: #F9FBFA;
    color: #505050;
    font-weight: 600;
}

.automatic-charging-table th {
    padding: 10px 0;
}

.automatic-charging-table td {
    padding: 15px 20px;
    border: 1px solid #E5E5E5;
}

/* .documents-sales-container .total-invoices {
    float: left;
    background-color: #F9FBFA;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
} */